@tailwind base;
@tailwind components;
@tailwind utilities;

/***
 Code 
 ***/

.container {
  display: inline-block;
  position: relative;
  left: 0px;
  width: 760px;
}

.container > .syntax-highlighter {
  width: 100%;
  height: 100%;
  color: #d4d4d4;
  /*background-color: #030003;*/
  background-color: rgb(40, 44, 52) !important;
  font-family: Droid Sans Mono;
  letter-spacing: 1.5px;
  border-radius: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: -10px;
  font-weight: 500;
}

.container > .syntax-highlighter .language-javascript > span:hover {
  background-color: rgba(224, 224, 173, 0.2) !important;
}

.container > .syntax-highlighter .language-javascript .linenumber {
  color: rgb(126, 120, 135) !important;
  margin-left: 15px;
  margin-right: 15px;
  background-color: transparent;
  border-right: 2px solid rgb(126, 120, 135);
}

.container > .syntax-highlighter .language-javascript .linenumber:hover {
  color: rgb(213, 214, 133) !important;
  margin-left: 15px;
  margin-right: 15px;
}

.container > .syntax-highlighter .language-javascript .hljs-comment {
  color: #48a454;
  font-weight: 450;
}

.container > .syntax-highlighter .language-javascript .hljs-keyword {
  color: #d86fc0;
}

.container > .syntax-highlighter .language-javascript .hljs-function {
  color: #4098d7;
}

.container > .syntax-highlighter .language-javascript .hljs-title {
  color: #d8e2a9;
}

.container > .syntax-highlighter .language-javascript .hljs-tag {
  color: #d4d4d4;
}

.container > .syntax-highlighter .language-javascript .hljs-name {
  color: #4098d7;
}

.container > .syntax-highlighter .language-javascript .hljs-attr {
  color: #86ddff;
}

.container > .syntax-highlighter .language-javascript .hljs-string {
  color: #dc8a77;
}

.container > .syntax-highlighter .language-javascript .hljs-built_in {
  color: #00d5b0;
}
